/* -- Bootstrap overrides ------------------------------------------------- */
.row-fluid {
  /* There's just not enough space between the navbar and the content */
  margin-top: 1.5em;
}
input[type="text"], input[type="password"] {
  /* Horizontal forms seem to not be aligned without this */
  padding: 0.4em;
  height: 2.2em;
}


/* -- List widget --------------------------------------------------------- */
/* -- The containers -------------------------------------------- */
#uptrack_listcontainer {
  margin: 1em 2em;
  border: 1px solid black;
  border-radius: 2px;
}
#uptrack_listcontainer > div > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
#uptrack_list {
  padding: 0;
  overflow: auto;

  /* Warning: this must match the line-height of .uptrack_disabled */
  height: 400px;
}
#uptrack_list.uptrack_disabled {
  cursor: not-allowed;
  background-color: #fafafa;
  color: #848484;
  text-align: center;

  /* Warning: This must match the height of #uptrack_list */
  line-height: 400px;
}

/* -- The list itself ------------------------------------------- */
.uptrack_listitem {
  height: 3em;
  line-height: 3em;
  display: block;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 2em;
  cursor: default;
}
.uptrack_listitem.uptrack_selected {
  background-image: linear-gradient(to bottom, #0088cc, #006fcc);
  color: #ffffff;
}

/* -- The controls ---------------------------------------------- */
#uptrack_listcontrols {
  padding: 0.5em;
  background: linear-gradient(to bottom, #cccccc 0%, #eeeeee 100%);
  border-top: 1px solid black;
}
#uptrack_listcontrols > ul {
  margin: 0;
}
#uptrack_listcontrols > ul > .btn {
  border-radius: 0;
}
#uptrack_listcontrols > ul > .btn:not(.last) {
  border-right-width: 0px;
}
#uptrack_listcontrols > ul > .btn.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#uptrack_listcontrols > ul > .btn.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* -- The forms ------------------------------------------------- */
.uptrack_adminform {
  padding: 0.2em 2em;
}

/* -- Misc ---------------------------------------------------------------- */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
